[submodule "ReflowWizard/src/Arduino-FreeRTOS-SAMD21"]
	path = ReflowWizard/src/Arduino-FreeRTOS-SAMD21
	url = git@github.com:stevenj/Arduino-FreeRTOS-SAMD21.git
[submodule "fabricate"]
	path = fabricate
	url = git@github.com:stevenj/fabricate.git
[submodule "bootloader/uf2-samdx1"]
	path = bootloader/uf2-samdx1
	url = git@github.com:stevenj/uf2-samdx1.git
